{% extends "login_home.html" %}
{% block content %}
    <div class="w3-container">
      <h2>{{device_name}} Device Stats</h2>
      <ul class="w3-ul w3-blue-grey">
        <li> CPU usage :    {{data["cpu"]["usage"]}}</li>
        <li> Memory usage : {{data["memory"]["percent"]}}</li>
      </ul>
    </div>
    <div class="w3-container">
      <h2>{{device_name}} Memory Used (Gib)</h2>
      <ul class="w3-ul w3-blue-grey">
        <li> Total :    {{data["memory"]["total"]}}</li>
        <li>  Active :   {{data["memory"]["active"]}}</li>
        <li>  Buffers :  {{data["memory"]["buffers"]}}</li>
        <li>  Cashed :   {{data["memory"]["cached"]}}</li>
      </ul>
    </div>
{% endblock content %}